<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/navbar'); %>
        <h1>
            <%=msg %>
        </h1>
        <a href="http://localhost:8080/products">Ver todos los productos</a>
        <%- include('../partials/footer'); %>
</body>

</html>