{{> navbar}}
<br/>

<h1> {{title}}</h1>

<form action="/products" method="post" >
        <label for="title">Nombre</label> <br>
        <input type="text" id="title" name="title"><br>
        <label for="price">Precio</label> <br>
        <input type="text" id="price" name="price"><br>
        <label for="thumbnail">Foto</label> <br>
        <input type="url" id="thumbnail" name="thumbnail"><br>
        <input type="submit" class= 'addButton' value="Agregar!">
</form>
<a href="http://localhost:8080/products">Ver todos los productos</a>
<br/>
{{> footer}}
<br/>